h1 {
    background: red;
}


.paragraph-1 {
    font-size: 24px;
    font-family: 'Courier New';
    font-style: oblique;
    text-shadow: green 2px 10px;
    margin-left: auto;
    margin-right: auto;
    width: 15em
}


.paragraph-2 {
    border: 10px solid yellow;
    border-radius: 5px;
    font-size: 24pt;
    margin-bottom: 60px;
    padding-bottom: 60px;
    padding-left: 20px;
}


.paragraph-3 {
    font-weight: bold;
    font-size: 22px;
    font-family: 'Courier New';
}
.paragraph-4{
    background: blue;
    font-size: 32pt;
    color: green;
}
